//FuturaPT

@font-face {
  font-family: "futuraPT";
  src: url("/styles/fonts/futuraPT/FuturaPTBold.otf") format("opentype");
}

@font-face {
  font-family: "futuraPT";
  src: url("/styles/fonts/futuraPT/FuturaPTDemi.otf") format("opentype");
}

@font-face {
  font-family: "futuraPT";
  src: url("/styles/fonts/futuraPT/FuturaPTHeavy.otf") format("opentype");
}

@font-face {
  font-family: "futuraPT";
  src: url("/styles/fonts/futuraPT/FuturaPTLight.otf") format("opentype");
}

@font-face {
  font-family: "futuraPT";
  src: url("/styles/fonts/futuraPT/FuturaPTMedium.otf") format("opentype");
}

@font-face {
  font-family: "HeyAugust";
  src: url("/styles/fonts/HeyAugust/Hey\ August.ttf") format("truetype");
}

@font-face {
  font-family: "SandBeach";
  src: url("/styles/fonts/SandBeach/Sand Beach Demo.otf") format("opentype");
}
