@mixin sm {
  @media (max-width: 576px) {
    @content;
  }
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin button {
  margin-top: 20px;
  color: white;
  border-radius: 30px;
  border: none;
  padding: 10px 25px;
  font-size: 13px;
  font-weight: bold;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

@mixin buttonHoverDark {
  &:hover {
    transform: translateY(-7px);
    color: $dark;
    background-color: $white;
    border: 2px solid $dark;
  }
}
