.collab {
  margin-top: 80px;
}

.collab__title {
  margin-left: 80px;
  width: 400px;
  @include sm {
    max-width: 45%;
  }
}

.container__collab {
  margin-top: 40px;
  @include flexCenter;

  @include sm {
    flex-direction: column;
    margin-top: 40px;
  }
}


.collab__right {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  margin-left: 40px;

  .collab__text {
    width: 600px;

    font-size: 18px;
    line-height: 25px;
    @include sm {
      width: 300px;
      margin-top: 30px;
      font-size: 15px;
    }

  }


  .collab__button {
    margin-top: 20px;
    @include button;
    background-color: $dark;
    border: 2px solid $dark;
    @include buttonHoverDark;

    cursor: pointer;
    @include sm {
      margin-left: 190px;
    }
  }
}

.collab__picture {
  max-width: 80%;
  @include sm {
    max-width: 30%;
  }
}
