body {
  font-family: Futura PT;
}
.subfooter {
  display: flex;
  justify-content: space-around;
  background: $pink;
  margin-top: 80px;
  height: 80px;
}
.subfooter__content {
  @include flexCenter;
  flex-direction: column;
}
.subfooter__title {
  margin-top: 6px;
  font-size: 16px;
  @include sm{
    font-size: 11px;
    margin-left: 25px;
  }
}

.footer__container {
  display: flex;

  height: 170px;
  background-color: $pink;

  justify-content: space-around;
  font-weight: 500px;
  color: white;

  .info{
    @include sm{
      margin-left: 10px;
    }
  }

  .français {
    margin-left: 110px;
    @include sm {
      margin-left: 40px;
    }
  }

  h1 {
    color: #060606;
    align-items: center;
    list-style: none;
    margin-top: 20px;
    color: #fefefe;
    font-size: 16px;

    @include sm{
      font-size: 11px;
    }
  }
  li {
    list-style: none;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
  }
}
.under--footer {
  height: 38px;
  background-color: #c98e9a;
  display: flex;
  justify-content: space-around;

  p {
    color: #414141;
    margin-top: 13px;
    @include sm{
      font-size: 10px;
    }
  }
}
