.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;

  @include sm {
    flex-direction: column-reverse;
  }
}

.hero__season {
  margin-left: 80px;

  @include sm {
    max-width: 70%;
    margin-left: 0;
  }
}

.hero__title {
  margin-left: 80px;
  font-size: 80px;
  font-weight: bold;

  @include sm {
    font-size: 60px;
    margin-top: 0;
    margin-left: 0;
  }
}

.hero__description {
  width: 450px;
  margin-left: 80px;
  margin-top: 20px;
  @include sm {
    display: none;
    margin-left: 0;
  }
}

.hero__button {
  @include flexCenter;
  color: $white;
  border-radius: 30px;
  margin-top: 20px;

  margin-left: 70px;
  border: none;
  padding: 10px 25px;
  font-size: 13px;
  font-weight: bold;
  transition: all 0.3s ease 0s;
  cursor: pointer;

  @include sm {
    @include flexCenter;
    flex-direction: row;
    margin-left: 0;
  }
}
.hero__buttons {
  border: none;
  display: flex;

  a {
    text-decoration: none;
  }

  @include sm {
    @include flexCenter;
    flex-direction: column;
  }
}
.hero__button--dark {
  background-color: $dark;
  border: 2px solid $dark;

  a {
    text-decoration: none;
    color: $white;
  }

  &:hover {
    background-color: $white;
    color: $dark;
    border: 2px solid $dark;
    transform: translateY(-7px);
  }
}

.hero__button--pink {
  background-color: $pink;
  border: 2px solid $pink;

  a {
    text-decoration: none;
    color: $white;
  }

  &:hover {
    color: $pink;
    background-color: $white;
    transform: translateY(-7px);
  }
}

.hero--left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;

  @include sm {
    align-items: center;
  }
}

.hero--right {
  width: 500px;
  height: 500px;

  img {
    @include sm {
      max-width: 80%;
    }
  }
}
