.title__instagram {
margin-left: 120px;
margin-top: 50px;
@include sm{
  width: 300px;
  margin-left: 10px;
}

}
.instagram {
  margin-top: 40px;
  @include flexCenter;
  justify-content: space-around;
  @include sm{
    @include flexCenter;
    flex-direction: column;

    img {
      width: 150px;
      margin-top: 20px;
    }
  }

}

figcaption{
  text-align: center;
  margin-top: 10px;
}
