//FuturaPT

@font-face {
  font-family: "futuraPT";
  src: url("/scss/fonts/futuraPT/FuturaPTBold.otf")
  format("opentype");
}

@font-face {
  font-family: "futuraPT";
  src: url("/scss/fonts/futuraPT/FuturaPTDemi.otf")
  format("opentype");
}

@font-face {
  font-family: "futuraPT";
  src: url("/scss/fonts/futuraPT/FuturaPTHeavy.otf")
  format("opentype");
}

@font-face {
  font-family: "futuraPT";
  src: url("/scss/fonts/futuraPT/FuturaPTLight.otf")
  format("opentype");
}

@font-face {
  font-family: "futuraPT";
  src: url("/scss/fonts/futuraPT/FuturaPTMedium.otf")
  format("opentype");
}

@font-face {
  font-family: "HeyAugust";
  src: url("/scss/fonts/HeyAugust/Hey\ August.ttf")
  format("truetype");
}