/* $primary-position: absolute;
$primary-top-text: 40px;
$primary-width-text: 217px;
.concept-title {
  position: $primary-position;
  top: 719px;
  left: 137px;
}

.concept__container {
  position: $primary-position;
  width: 100vw;
  height: 272px;
  top: 807px;
  background-color: white;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);

  .concept__container__contents {
      
    li {
      position: $primary-position;
      display: inline;
      top: 55px;
    }
    .concept__container__content__1 {
      left: 260px;
    }

    .concept__container__content__2{
      left: 600px;
    }

    .concept__container__content__3{
      left: 950px;
    }
    
    .concept__container__contents__titles {
      font-family: Futura PT;
      font-style: normal;
      font-size: 20px;
      font-weight: 500;
    }
    .concept__container__content__title1 {
      position: $primary-position;
      left: 295px;
    }
    .concept__container__content__title2 {
      position: $primary-position;
      left: 650px;
    }
    .concept__container__content__title3 {
      position: $primary-position;
      left: 1000px;
    }
    .concept__container__contents__texts {
      position: $primary-position;
      font-family: Futura PT;
      font-style: normal;
      font-size: 18px;
      font-weight: 400;
      top: $primary-top-text;
      
    }
    .concept__container__content__text1 {
      position: $primary-position;
      left: 295px;
      width: $primary-width-text;
    }
    .concept__container__content__text2 {
      position: $primary-position;
      left: 650px;
      width: $primary-width-text;
    }
    .concept__container__content__text3 {
      position: $primary-position;
      left: 1000px;
      width: $primary-width-text;
    }
  }
}
.page__collab__tache {
  position: absolute;
  top: 1175px;
  left: 780px;
}


 */