body{
  font-family: Futura PT;

}

.footer__container{
  display: flex;

  height: 170px;
  background-color: #FDC8D3;
  margin-top: 120px;
  justify-content: space-around;
  font-weight: 500;
  color: white;

  h1{
    color: #060606;
    align-items: center;
    list-style: none;
    margin-top: 20px;;
    color: #FEFEFE;
  }
  li {
    list-style: none;
    margin-top: 20px;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
  }
}
.sous--footer {

  height: 38px;
  background-color: #C98E9A;
  display: flex;
  justify-content: space-around;

  p {
    color: #414141;
    margin-top: 13px;
  }
}
