.header {
  width: 100vw;
  height: 36px;
  top: 26.55px;

  .header__navbar {
    width: 100vw;
    li {
      position: absolute;
      display: inline;
      font-family: Futura PT;
      font-style: normal;
      font-weight: 500;
      font-size: 17px;
      line-height: 22px;
      top: 26px;

        a{
          text-decoration: none;
        color: black;
        }
      }
      .header__navbar__logo {
        position: absolute;
        top: -5px;
        left: 75px;
        
      }

      
      .header__navbar__Accueil {
        left: 180px;
      }
        .header__navbar__Produit {
        left: 300px;
      }
      .header__navbar__Perso {
        left:  450px;
      }
      .header__navbar__Collab {
        left: 620px;
      }
      .header__navbar__Panier {
        right: 90px;
      }
      .header__navbar__Compte {
        right: 40px;
      }
  }
}
