.header {
  position: absolute;
  width: 100vw;
  height: 36px;
  left: 79px;
  top: 26.55px;
  

  .header__navbar {
    width: 100vw;
    li {
      position: absolute;
      display: inline;
      font-family: Futura PT;
      font-style: normal;
      font-weight: 500;
      font-size: 17px;
      line-height: 22px;
      top: 5px;

        a{
          text-decoration: none;
        color: black;
        }
      }
      .header__navbar__logo {
        position: absolute;
        top: -5px;
        
      }
      .header__navbar__Accueil {
        text-decoration: none;
        left: 210px;
      }
        .header__navbar__Produit {
        left: 330px;
      }
      .header__navbar__Perso {
        left: 491px;
      }
      .header__navbar__Collab {
        left: 672px;
      }
      .header__navbar__Panier {
        right: 170px;
      }
      .header__navbar__Compte {
        right: 120px;
      }
  }
}
