  .page__accueil__titre {
    position: absolute;
    top: 118px;
    left: 75px;
  }

  .page__accueil__titre-produit{
  position: absolute;
  font-family: Futura PT;
  font-weight: bold;
  font-size: 65px;
  top: 208px;
  left: 75px;
  }

  .page__accueil__text{
    position: absolute;
    font-family: Futura PT;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    width: 500px;
    top: 300px;
    left: 75px;
    font-size: 20px;
    color: #414141;
  }
    .boutons-accueil {
      position: absolute;
      top: 450px;
      left: 70px;
      letter-spacing: 0.5px;
      align-self: center;

      
      .bouton-accueil__personnalisation{
        font-family: Futura PT;
        font-style: normal;
        font-weight: 800;
        left: 83px;
        color: white;
        background-color: black;
        border-radius: 30px;
        width: 277px;
        height: 47px;
        border: none;
  }

      .bouton-accueil__savoir-plus{
        font-family: Futura PT;
        font-style: normal;
        font-weight: 800;
        left: 350px;
        color: white;
        background-color: pink;
        border-radius: 30px;
        width: 196px;
        height: 47px;
        border: none;
        margin-left: 38px;
      }
}