.collab {
  margin-top: 100px;
}

.collab__title {
  width: 400px;
  @include sm {
    max-width: 80%;
    padding-left: 80px;
  }
}

.container__collab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;

  @include sm {
    flex-direction: column;
  }
}

.collab__right {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  margin-left: 40px;

  .collab__text {
    width: 600px;

    font-size: 18px;
    line-height: 25px;
    @include sm {
      width: 300px;
      margin-top: 30px;
      font-size: 15px;
      padding-left: 50px;
    }
  }

  .collab__button {
    margin-top: 20px;
    @include button;
    background-color: $dark;
    border: 2px solid $dark;
    @include buttonHoverDark;

    cursor: pointer;
    @include sm {
      margin-left: 90px;
      margin-top: 60px;
    }
  }
}

.collab__picture {
  max-width: 80%;
  @include sm {
    max-width: 60%;
    margin-left: 90px;

  }
}

.test {
  &::after {
    width: 500px;
    height: 500px;
    border: 2px solid red;
  }
}
