.example {
  margin-top: 80px;
}

.example__title {
  width: 100%;
  margin-top: 50px;
  @include sm {
    text-align: center;
  }
}

.container__example {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include sm {
    margin-top: 80px;
    flex-direction: column-reverse;
  }
}

.example__left {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include sm {
    align-items: center;
  }

  .example__description {
    @include sm {
      margin-top: 40px;
    }
  }
}

.example__button {
  @include button;
  background-color: $dark;
  border: 2px solid $dark;

  &:hover {
    transform: translateY(-7px);
    color: $dark;
    background-color: $white;
    border: 2px solid $dark;
  }
}

.example__right {
  .example__products {
    @include sm {
      max-width: 90%;
    }
  }
}
