.header {
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  font-weight: 500;
}

.header__navbar {
  width: 750px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include sm {
    display: none;
  }

  a {
    color: #060606;
    text-decoration: none;

    &:hover {
      border-bottom: solid 1px #fdc8d3;
      color: pink;
    }
  }
  ul {
    display: flex;
    justify-content: space-between;
    width: 70%;
    li {
      list-style: none;
      display: inline;
    }
  }
}

.header__icons {
  @include sm {
    display: none;
  }

  li {
    display: inline;
    padding-left: 20px;
  }
}

.header__logo {
  @include sm {
    display: none;
  }
}
