.title__instagram {
  margin-top: 50px;
  @include sm {
    width: 300px;
    margin-left: 100px;
  }
}
.instagram {
  margin-top: 40px;

  justify-content: space-around;
  @include sm {
    @include flexCenter;
    flex-direction: column;
  }
  .insta_div{
    @include sm{
      @include flexCenter;
      flex-direction: column;
      
    }
  }

  div {
    width: 1000px;
    @include xl {
      width: 100%;
    }

    margin: 30px auto 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  figure {
    filter: none;
    background-color: white;
    cursor: pointer;
    img {
      margin-left: 60px;
      width: 250px;
      height: 400px;
    }
    img:hover {
      opacity: 0.6;
    }
  }

  figcaption {
    text-align: center;
    margin-top: 10px;

    em {
      font-weight: 600;
    }
  }
}
