.values {
  margin-top: 100px;
  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
  }
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;

  @include sm {
    @include flexCenter;
    flex-direction: column;
    margin-top: 40px;
  }
}

.value__description {
  width: 210px;
  margin-top: 20px;
}

.button__viewMore {
  @include button;
  background-color: $dark;
  border: 2px solid $dark;
  @include buttonHoverDark;

  @include sm {
    margin-top: 60px;
  }

  a {
    text-decoration: none;
    color: white;
  }
}

.container__value {
  @include sm {
    padding-bottom: 70px;
  }
}
